<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="UTF-8">
    <title>对话情感标记系统</title>
</head>
<body >
<h1>对话情感标记系统</h1>
<form>
{% csrf_token %}
</form>
{% if login == False %}
    <form action="/label" method="get">
        <label>
            请输入用户名
            <input type="text" name="uname">
        </label>
        <input type="submit" value="进入">
    </form>
{% else %}
    <div id="app">
    <div>
    {% verbatim %}
        <p>欢迎您：{{ user.name }}&nbsp;当前进度：<span id="dialog-id"></span>
            {{ did - user.start }}/{{ user.end - user.start }}</p>
        </div>
    {% endverbatim %}

    <div id="dialog-area">
    {% verbatim %}
        <table>
            <tbody>
                <tr v-for="(sen, index) in sentences">
                    <td>{{ sen.sen }}</td>
                    <td>
                        <label>
                            <select v-model="sen.label">
                                <option value ="0">请选择</option>
                                <option value ="1">乐</option>
                                <option value ="2">好</option>
                                <option value ="3">哀</option>
                                <option value ="4">惧</option>
                                <option value ="5">恶</option>
                                <option value ="6">无</option>
                            </select>
                        </label>
                    </td>
                </tr>
            <tr><td>
            <button  v-if="user.rank > 5" @click="delete_dialog()">删除对话</button>
            </td><td><button @click="submit()">提交</button></td></tr>
            </tbody>
        </table>
    {% endverbatim %}
    </div>
    <div>
    <p>提示:</p>
    <ul>
        <li><p>乐：快乐、安心</p></li>
        <li><p>好：尊敬、赞扬、相信、喜爱、祝愿</p></li>
        <li><p>哀：悲伤、失望、疚、思</p></li>
        <li><p>惧：慌、恐惧、羞</p></li>
        <li><p>恶：烦闷、憎恶、贬责、妒忌、怀疑</p></li>
    </ul>
    </div>
    </div>
    <script>
        var data = {
            did: 1,
            sentences: [
                {sen: "天王盖地虎", label: "0"},
                {sen: "宝塔镇河妖", label: "0"},
                {sen: "小鸡炖蘑菇", label: "0"},
            ],
        {% autoescape off %}
            user: {{ user }}
        {% endautoescape %}
        };

        var vm = new Vue({
            el: "#app",
            data: data,
            methods: {
                submit: function(event) {
                    let ans = vm.sentences.reduce((a, b)=> a + b.label, "");
                    if (ans.indexOf('0') >= 0)
                        return;
                    ans = parseInt(ans);
                    console.log("submit " + ans);
                    $.ajax({
                        url: '/label/labeldialog',
                        method: 'post',
                        dataType: 'json',
                        data: {
                            "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val(),
                            "label": ans,
                            "did": vm.did,
                            "uid": vm.user.id
                        },
                        success: function (data) {
                            parseDialog(data);
                        }
                    });
                },
                delete_dialog: function(event) {
                    console.log("delete");
                    $.ajax({
                        url: '/label/deletedialog',
                        method: 'post',
                        dataType: 'json',
                        data: {
                            "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val(),
                            "did": vm.did,
                            "uid": vm.user.id
                        },
                        success: function (data) {
                            if (data['result'] === 'ok')
                                getDialog()
                        }
                    });
                }
            }
        });

        function parseDialog(data) {
            vm.did = data['did'];
            vm.sentences = data['text'].map(i=>{ return {sen: i, label: "0"}});
        }
        function getDialog() {
            $.ajax({
                url: '/label/getdialog?uid=' + vm.user.id,
                method: 'get',
                type: 'json',
                success: function (data) {
                    parseDialog(data);
                }
            })
        }
        $(document).ready(function () {
            getDialog();
         });
    </script>

{% endif %}

</body>
</html>