{% extends 'nav.html' %}
{% block content %}
{% load staticfiles %}
<div class="modal fade" id="responseBigAvatar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center;">
          <img src="{% static 'img/me.jpg' %}" class="avatar-modal">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bigAvatar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: ">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center;">
            {% if current_user.is_authenticated %}
                <img src="{{ current_user.avatar.avatar.url }}" class="avatar-modal">
            {% else %}
                <img src="{% static 'img/default.png' %}" class="avatar-modal">
            {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" role="tab" data-toggle="tab"
                       href="#chat" id="chat-tab" aria-controls="chat" aria-selected="true">对话系统</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab"
                       href="#separation" id="separation-tab" aria-controls="separation">分词工具</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab"
                       href="#synonym" id="synonym-tab" aria-controls="synonym">近义词判断</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab"
                       href="#sentiment" id="sentiment-tab" aria-controls="sentiment">情感判断</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="tab-content col-md-6" id="navContent">
            <!-- 聊天界面 -->
            <div class="tab-pane fade show active" id="chat" role="tabpanel" aria-labelledby="chat-tab">
                <!-- 对话列表 -->

                <div id="chat-box">
                    {% for item in history %}
                        {% if item.is_response %}
                            <div class="chat-item">
                                <div class="avatar2">
                                    <img data-toggle="modal" data-target="#responseBigAvatar"
                                         src="{% static 'img/me.jpg' %}" class="avatar-img">
                                </div>
                                <div class="message2">
                                    {{ item.text|safe }}
                                </div>
                            </div>
                        {% else %}
                            <div class="chat-item">
                                <div class="avatar1">
                                    <img data-toggle="modal" data-target="#bigAvatar"
                                         src="{{ current_user.avatar.avatar.url }}" class="avatar-img">
                                </div>
                                <div class="message1">
                                    {{ item.text }}
                                </div>
                                <div class="emoji">
                                    {% if item.emotion < 0 %}

                                    {% elif item.emotion >= 0 and item.emotion < 0.25 %}
                                        😞
                                    {% elif item.emotion < 0.5 %}
                                        😑
                                    {% elif item.emotion < 0.75 %}
                                        🙂
                                    {% elif item.emotion <= 1 %}
                                        😄
                                    {% else %}

                                    {% endif %}
                                </div>
                            </div>

                        {% endif %}
                    {% endfor %}
                </div>
                <!-- 输入框 -->
                <div style="padding-top: 20px">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="聊点什么吧" aria-label="Text"
                               aria-describedby="send" id="input-box">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="send-button"
                                    onclick="sendMessage()">发送
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 分词 -->
            <div class="tab-pane fade" id="separation" role="tabpanel" aria-labelledby="separation-tab">
                <form>
                    <div class="form-group form">
                        <label for="to-separation">请输入句子</label>
                        <textarea class="form-control" id="to-separation" rows="3">翻译腔是指翻译出来的译文有洋化现象或不符合汉语习惯的表达方式。表现为译文不自然、不流畅、生硬、难懂、费解等特点。</textarea>
                    </div>
                    <button class="btn btn-primary" type="button" onclick="separation()">确定</button>
                </form>
            </div>
            <div class="tab-pane fade" id="synonym" role="tabpanel" aria-labelledby="synonym-tab">
                <h5>请输入两个词</h5>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Text"
                           aria-describedby="send" id="synonym-box-1">
                    &nbsp;
                    <input type="text" class="form-control" aria-label="Text"
                           aria-describedby="send" id="synonym-box-2">
                </div>
                <div>结果：</div>
                <div id="synonym-result"></div>
                <button class="btn btn-primary" type="button" onclick="synonym()">确定</button>
            </div>
            <div class="tab-pane fade" id="sentiment" role="tabpanel" aria-labelledby="sentiment-tab">
                <form>
                    <div class="form-group form">
                        <label for="to-sentiment">请输入句子</label>
                        <textarea class="form-control" id="to-sentiment" rows="3"></textarea>
                    </div>
                    <div>结果（数值越大表示句子积极程度越高）：</div>
                    <div id="sentiment-result"></div>
                    <button class="btn btn-primary" type="button" onclick="sentiment()">确定</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="response-template" style="display: none;">
    <div class="avatar2">
        <img data-toggle="modal" data-target="#responseBigAvatar"
             src="{% static 'img/me.jpg' %}" class="avatar-img">
    </div>
</div>
<div id="say-template" style="display: none;">
    <div class="avatar1">
        {% if current_user.is_authenticated %}
        <img data-toggle="modal" data-target="#bigAvatar" src="{{ current_user.avatar.avatar.url }}" class="avatar-img">
        {% else %}
        <img data-toggle="modal" data-target="#bigAvatar" src="{% static 'img/default.png' %}" class="avatar-img">
        {% endif %}
    </div>
</div>
{% csrf_token %}
{% endblock %}