<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>Chat Bot</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="jumbotron col-md-12">
            <h1 class="display-4">NLP TOOLS</h1>
            <p class="lead">快速、智能、准确的多功能私人在线助手。</p>
            {% if current_user == None %}
                <a href="login"><button class="btn btn-outline-success" type="button">登陆/注册</button></a>
            {% else %}
                <button id="logout-btn" class="btn btn-outline-success" type="button">{{ current_user.name }}</button>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" role="tab" data-toggle="tab"
                       href="#chat" id="chat-tab" aria-controls="chat" aria-selected="true">对话系统</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab"
                       href="#separation" id="separation-tab" aria-controls="separation">分词工具</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab"
                       href="#synonym" id="synonym-tab" aria-controls="synonym">近义词判断</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab"
                       href="#sentiment" id="sentiment-tab" aria-controls="sentiment">情感判断</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">&nbsp; </div>
    <div class="tab-content col-md-6" id="navContent">
        <!-- 聊天界面 -->
        <div class="tab-pane fade show active" id="chat" role="tabpanel" aria-labelledby="chat-tab">
            <!-- 对话列表 -->
            <ul class="list-group" id="chat-box">
                <li class="list-group-item message1">
                    Message1Message1Message1Message1Message1Message1Message1Message1
                </li>
                <li class="list-group-item message2">
                    Message2
                </li>
            </ul>
            <!-- 输入框 -->
            <div style="padding-top: 20px">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="聊点什么吧" aria-label="Text" aria-describedby="send" id="input-box">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="send-button" onclick="sendMessage()">发送</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 分词 -->
        <div class="tab-pane fade" id="separation" role="tabpanel" aria-labelledby="separation-tab">
            <form>
                <div class="form-group form">
                    <label for="to-separation">请输入句子</label>
                    <textarea class="form-control" id="to-separation" rows="3">翻译腔是指翻译出来的译文有洋化现象或不符合汉语习惯的表达方式。表现为译文不自然、不流畅、生硬、难懂、费解等特点。</textarea>
                </div>
                <button class="btn btn-primary" type="button" onclick="separation()">确定</button>
            </form>
        </div>
        <div class="tab-pane fade" id="synonym" role="tabpanel" aria-labelledby="synonym-tab">近义词</div>
        <div class="tab-pane fade" id="sentiment" role="tabpanel" aria-labelledby="sentiment-tab">情感</div>
    </div>
    </div>
</div>

</body>

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/message_bubble.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<script type="text/javascript" src="{% static 'js/js.cookie-2.2.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/action.js' %}"></script>

</html>