<!DOCTYPE html>
<html lang="zh-CN">
<!-- 😄 🙂 😑 😞-->

<head>
    <meta charset="UTF-8">
    <title>Chat Bot</title>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/message_bubble.css' %}"/>
    <script type="text/javascript" src="{% static 'js/js.cookie-2.2.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/action.js' %}"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">东东聊天机器人</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"> </ul>
        {% if current_user.is_authenticated %}
            <div class="btn-group" role="group" id="user-btn-group">
            <a href="user">
              <button type="button" class="btn btn-outline-success" id="user-btn">{{ current_user.username }}</button>
            </a>
            </div>
        {% else %}
            <a href="login">
                <button class="btn btn-outline-success" type="button">登陆/注册</button>
            </a>
        {% endif %}
    </div>
</nav>
</div>
<script>
    $(document).ready(function () {
        $("#user-btn-group").hover(function () {
            $("#user-btn-group").prepend('<button type="button" class="btn btn-outline-danger" onclick="logout()">退出登陆</button>\n');
        }, function () {
            $("#user-btn-group button")[0].remove();
        });
    });

    function logout () {
        $.ajax({
            url: 'logout',
            method: 'POST',
            data: {csrfmiddlewaretoken: Cookies.get('csrftoken')},
            success: function () {
                console.log("log out");
                Cookies.remove('uid');
                window.location.href='/';
            }
        });
    }
</script>

{% block content %}

{% endblock %}

</body>
</html>
