<!DOCTYPE html>
<html lang="zh-CN">
<!-- 😄 🙂 😑 😞-->

<head>
    <meta charset="UTF-8">
    <title>Chat Bot</title>
    {% load staticfiles %}

    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/js-cookie/2.2.0/js.cookie.min.js" integrity="sha384-ujpAYcyxFaJsZN5668lLgOpEH8vtWrbOq8fvj+WZ2kD71LJwGa/9QP/suPPF1hTI" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">东东聊天机器人</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"> </ul>
        {% if current_user.is_authenticated %}
            <div class="btn-group" role="group" id="user-btn-group">
            <a href="user">
              <button type="button" class="btn btn-outline-success" id="user-btn">{{ current_user.username }}</button>
            </a>
            </div>
        {% else %}
            <a href="login">
                <button class="btn btn-outline-success" type="button">登陆/注册</button>
            </a>
        {% endif %}
    </div>
</nav>
</div>
<script>
    $(document).ready(function () {
        $("#user-btn-group").hover(function () {
            $("#user-btn-group").prepend('<button type="button" class="btn btn-outline-danger" onclick="logout()">退出登陆</button>\n');
        }, function () {
            $("#user-btn-group button")[0].remove();
        });
    });

    function logout () {
        $.ajax({
            url: 'logout',
            method: 'POST',
            data: {csrfmiddlewaretoken: Cookies.get('csrftoken')},
            success: function () {
                console.log("log out");
                Cookies.remove('uid');
                window.location.href='/';
            }
        });
    }
</script>

{% block content %}

{% endblock %}

</body>
</html>
