.row {
    margin-bottom: 10px;
    margin-top: 10px;
}


#chat-box {
    overflow-y: scroll;
    /* overflow-x: hidden;*/
    height: 500px;
    max-height: 500px;
    border: solid #e1e1e1;
}

.avatar2 {
    float: left;
    padding-right: 10px;
}

.avatar1 {
    float: right;
    padding-left: 10px;
}

.avatar-img {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.chat-item {
    clear: both;
}

.avatar-modal {
    max-width: 466px;
    max-height: 466px;
}

.emoji {
    float:right;
    font-size: 15px;
    right: -10px;
}